.field-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: .5rem;
}
.labels-container{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.form-label {
    color: rgb(2, 41, 90);
    padding-bottom: 0.2rem;
}
.error-text {
    color: rgb(237, 53, 72);
    padding-bottom: 0.2rem;
}
.form-input {
    height: 2.5rem;
    width: 27rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    border-color: rgb(214, 217, 230);
}
.form-input-error{
    height: 2.5rem;
    width: 27rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    border-color: rgb(237, 53, 72);
}

@media screen and (max-width:578px) {
    .form-input{
        width: 70vw;
    }
    .field-group {
        margin: 1rem auto 1rem auto; 
    }
    .form-input-error {
        width: 70vw;
        
    }
}