.btn {
    color: white;
    background-color: hsl(213, 96%, 18%);
    border-color: hsl(213, 96%, 18%);
    align-self: flex-end;
    border-radius: .3rem;
    padding: 6px;
    margin-top: 1rem;
    width: 6rem;
    height: 2rem;
    font-size: 12px;
    cursor: pointer;
}
.btn:hover {
    background-color: hsl(206, 82%, 68%);
    border-color: hsl(206, 82%, 68%);
}
.btn-goback {
    color: hsl(213, 96%, 18%);
    background: none !important;
    border: none;
    padding: 0 !important;
    align-self: flex-start;
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 12px;
    cursor: pointer;
}
.btn-goback:hover {
    color: hsl(206, 82%, 68%);
}
.btn.single-btn{
    justify-content: flex-end;
}
@media screen and (min-width:579px) and (max-width: 1180px) {
    .btn-goback {
        font-size: 16px;
        width: 4rem;
    }
}