.form-group {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width:25vw;
    height: 30vh;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 25vw;
    padding: 10px;
    bottom: 1rem;
    right: .5rem;
}
/* tablet view */
@media screen and (min-width:579px) and (max-width: 1180px) {
.form-group {
        width: 70vw;
        height: 90vh;
        margin-left: auto;
        margin-right: auto;
    }
    .btn {
        width: 7rem;
        height: 3rem;
        font-size: 16px;
    }
}
@media screen and (max-width:578px) {
    .form-group{
        width: 70vw;
        height: 90vh;
        margin-left: auto;
        margin-right: auto;
    }
    .form-buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        bottom: 1rem;
        right: auto;
        left: auto;
    }
    .btn{
        margin-top: 1.5rem;
        width: 5rem;
        font-size: 10px;
    }
    .single-btn{
        position: relative;
        margin-top: 5rem;
        
    }
}