.form-group {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width:25vw;
    height: 30vh;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 25vw;
    padding: 10px;
    bottom: 1rem;
    right: .5rem;
}
@media screen and (max-width:578px) {
    .form-group{
        width: 70vw;
        height: 90vh;
        margin-left: auto;
        margin-right: auto;
    }
    .form-buttons{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: absolute;
        bottom: 1rem;
        right: .5rem;
    }
}