.checkbox-container{
    display: flex;
    align-items: center;
    width:27rem;
    height: 4.5rem;
    border: 2px solid rgb(201, 210, 221); 
    border-radius: 0.3rem;
    padding: .7rem;
    margin: 0 auto 0.2rem auto;
}
.checkbox-container.selected {
    border: 2px solid blue;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.08);
}
.checkbox-container:hover{
    border: 2px solid blue;
    cursor: pointer;
}
.checkbox{
    margin-right: 1rem;
}
.text-wrapper{
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 2rem;
    color:hsl(231, 11%, 63%);
    font-weight: bold;
}

.checkbox-label{
    color: rgb(2, 41, 90);
    font-weight: bold;
    font-size: .9rem;
    padding-bottom: .5rem;
}
.checkbox-p{
    font-size: .7rem;

}
.price-wrapper {
    text-align: right;
}
.price-tag-p{
    font-size: .8rem;
    padding-left: 2rem;
    color: rgb(98, 157, 230);
    font-weight: bold;
}
/* tablet view */
@media screen and (min-width:579px) and (max-width: 1180px) {
    .checkbox-container {
            display: flex;
            align-items: center;
            width: 50vw;
            height: 8vh;
            border: 2px solid rgb(201, 210, 221);
            border-radius: 0.3rem;
            padding: .7rem;
            margin: 0 auto .5rem auto;
    }
        .checkbox-group {
            height: 30vh;
            width: 50vw;
            margin: 1rem auto 0 auto;
        }
        .checkbox-label {
            font-size: 1rem;
        }

        .checkbox-p {
            font-size: .8rem;
        }
        .price-tag-p {
            font-size: 1rem;
        }
}
@media screen and (max-width:578px) {
    .checkbox-container {
        display: flex;
        align-items: center;
        width: 70vw;
        height: 8vh;
        border: 2px solid rgb(201, 210, 221);
        border-radius: 0.3rem;
        padding: 0.7rem;
        margin: 0 auto 0.5rem auto;
    }
    .checkbox-group {
        height: 30vh;
        width: 70vw;
        margin: 1rem auto 0 auto;
    }
    .checkbox-label{
        font-size: .7rem;
    }
    .checkbox-p{
        font-size: .5rem;
    }
    .text-wrapper{
        padding-right: .5rem;
    }
}