.main-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 2rem 0 2rem 3.2rem;
    width: 46.vw;
    height: auto;
}
.form-class {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 45vh;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 25vw;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.card-group {
    height: 35vh;
    width: 22vw;
    margin: 0 auto 0 8rem;
}
.selected-plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}
.plan-text-group{
    display: flex;
    flex-direction: column;
}
.bill-container {
    height: 35vh;
    width: 23vw;
    margin: 1rem auto 0 8rem;
}
.plan-details-container{
    height: 25vh;
    border-radius: .5rem;
    background-color: hsl(210, 5%, 91%);
}
.selected-addons {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
}
.addon {
    display: flex;
    justify-content: space-between;

}
.addons-p{
    padding: .5rem 0 .5rem 0;
}
.addons-price{
    padding: .5rem 0 .5rem 0;
}

.total{
    display: flex;
    justify-content: space-between;
}
.total-heading{
    padding: 1rem 2rem 1rem 2rem;
}
.total-price{
    color: blue;
    padding: 1rem 2rem 1rem 2rem;
}
.addon-text-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkbox-group {
    height: 35vh;
    width: 22vw;
    margin: 2rem auto 0 8rem;
}
.finalmessage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.thank-you-heading{
    color: rgb(2, 41, 90);
    font-size: 2rem;
    padding: 2rem;
}
.thank-you-p{
    color:hsl(231, 11%, 63%);
    text-align: center;
    padding-left: 6rem;
    padding-right: 6rem;
}
@media screen and (max-width:578px) {
    .main-section{
        margin: -5rem auto 1rem auto;
        border-radius: 1.2rem;
        width: 80vw;
        height: 70vh;
    }
    .form-class{
        margin: 1rem auto 1rem auto;
        width: 80vw;
        height: 30vh;
    }
}