.main-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 2rem 0 2rem 3.2rem;
    width: 46.vw;
    height: auto;
    position: relative;
}
.form-class {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 45vh;
}

.card-group {
    height: 35vh;
    width: 22vw;
    margin: 0 auto 0 8rem;
}
.selected-plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}
.plan-text-group{
    display: flex;
    flex-direction: column;
}
.bill-container {
    height: 35vh;
    width: 27vw;
    margin: 1rem auto 0 8rem;
}
.plan-details-container{
    height: 25vh;
    border-radius: .5rem;
    background-color: hsl(210, 5%, 91%);
}
.selected-addons {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
}
.addon {
    display: flex;
    justify-content: space-between;

}
.addons-p{
    padding: .5rem 0 .5rem 0;
}
.addons-price{
    padding: .5rem 0 .5rem 0;
}

.total{
    display: flex;
    justify-content: space-between;
}
.total-heading{
    padding: 1rem 2rem 1rem 2rem;
}
.total-price{
    color: blue;
    padding: 1rem 2rem 1rem 2rem;
}
.addon-text-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkbox-group {
    height: 35vh;
    width: 22vw;
    margin: 2rem auto 0 8rem;
}
.finalmessage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.thank-you-heading{
    color: rgb(2, 41, 90);
    font-size: 2rem;
    padding: 2rem;
}
.thank-you-p{
    color:hsl(231, 11%, 63%);
    text-align: center;
    padding-left: 6rem;
    padding-right: 6rem;
}
.form-buttons{
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 4rem;
    width: 30vw;
}
.single-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.8rem;
    margin-right: 4rem;
    width: 27.8vw;
}
/* tablet view */
@media screen and (min-width:579px) and (max-width: 1180px) {
    .main-section {
        margin: -5rem auto 1rem auto;
        border-radius: 1.2rem;
        width: 80vw;
        height: 65vh;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    .form-class {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 49vw;
        height: 50vh;
        margin-top: 2rem;
    }
    .form-group{
        width: 55vw;
        height: 70vh;
        margin-left: auto;
        margin-right: auto;
    }
    .bill-container {
        height: 35vh;
        width: 50vw;
        margin: 1rem auto 0 auto;
    }
    .finalmessage-container {
        margin-top: 3rem;
    }
    .thank-you-p {
        color: hsl(231, 11%, 63%);
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 20px;
    }
    .form-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 65vw;
    }
    .single-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 9.8rem;
        margin-right: 0;
        width: 58.5vw;
    }
   
}
/* Mobile view */
@media screen and (max-width:578px) {
    .main-section{
        margin: -5rem auto 1rem auto;
        border-radius: 1.2rem;
        width: 80vw;
        height: 65vh;
    }
    .form-class{
        margin: 1rem auto 1rem auto;
        width: 80vw;
        height: 30vh;
    }
    .form-hgroup{
        margin-top: 1.5rem;
    }

    .bill-container {
        height: 35vh;
        width: 66vw;
        margin: 1rem auto 0 auto;
    }
    a{
        font-size: .7rem;
    }
    .plan-price{
        font-size: .7rem;
    }
    .selected-addons{
        font-size: .7rem;
    }
    .total{
        font-size: .7rem;
    }
    h4{
        font-size: .7rem;
    }
    .thank-you-heading{
        font-size:1.5rem;
    }
    .thank-you-p{
        font-size: 1rem;
    }
    .thank-you-icon{
        width: 60px;
        height: 60px;
    }
    .finalmessage-container{
        margin-top: 5rem;
    }
    .form-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 65vw;
    }
    .single-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 4.8rem;
        margin-right: 0;
        width: 66vw;
    }
}
