.nav-header{
    padding-top: 3.5rem;
    background-color: rgb(71, 143, 198);
    height: 100%;
    border-radius: 0.8rem;
    background-image: url("/assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* tablet view */
@media screen and (min-width:579px) and (max-width: 1180px) {
    .nav-header {
        padding-top: 0;
        border-radius: 0;
        width: 100vw;
        height: 25vh;
    }
}
@media screen and (max-width:578px) {
    .nav-header {
        padding-top: 0;
        border-radius: 0;
        width: 100vw;
        height: 25vh;
    }
}

