@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: hsl(206, 94%, 87%);
    /* to place everything in the center of body */
    display: grid;
    place-items: center;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    /* end of centerilizig */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* reset */
html, body, h1, h2, h3, h4, h5, p {
    margin:0;
    padding:0;
    border:0;
    font-size: 100%;
    font-stretch: inherit;
    vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
.App{
    display: flex;
    justify-content: center;
    background-color: azure;
    width:70vw;
    height: 70vh;
    padding: 2rem;
}
.your-info{
  display: flex;
}
.select-plan{
  display: flex;
 
}
.add-ons{
  display: flex;
}
.summary{
  display: flex;
}
.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    padding: 2rem;
    width:45vw;
    height: auto;
}
.nav-header{
    background-color: blanchedalmond;
    padding: 2rem;
}