@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: hsl(206, 94%, 87%);
    /* to place everything in the center of body */
    display: grid;
    place-items: center;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    /* end of centerilizig */
}

/* reset */
html, body, h1, h2, h3, h4, h5, p {
    margin:0;
    padding:0;
    border:0;
    font-size: 100%;
    font-stretch: inherit;
    vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
.App{
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: .5rem;
    width:70vw;
    height: 70vh;
    padding: 2rem 0 2rem 0;
}
.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}
@media screen and (max-width:578px) {
    body{
        display: flex;
        justify-content: center;
        place-items: unset;
        max-width: 100%;
        overflow: hidden;
        padding: 0;
    }
    .App{
        flex-direction: column;
        width: 100vw;
        height: auto;
        padding: 0;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
}



