@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: hsl(206, 94%, 87%);
    /* to place everything in the center of body */
    display: grid;
    place-items: center;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    /* end of centerilizig */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* reset */
html, body, h1, h2, h3, h4, h5, p {
    margin:0;
    padding:0;
    border:0;
    font-size: 100%;
    font-stretch: inherit;
    vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
.App{
    display: flex;
    justify-content: center;
    /* background-color: hsl(213, 96%, 18%); */
    background-color: white;
    width:70vw;
    height: 70vh;
    padding: 2rem 0 2rem 2rem;
}
.your-info{
  display: flex;
}
.select-plan{
  display: flex;
 
}
.add-ons{
  display: flex;
}
.summary{
  display: flex;
}
.main-section{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 2rem 2rem 2rem 2rem;
    width:45vw;
    height: auto;
}
.nav-header{
    background-color: blanchedalmond;
    padding: 2rem;
}
.form-group{
  margin-left: 4rem;
  padding: .2rem 0 .2rem 0;
  display: flex;
  flex-direction: column;
  width: 27vw;
  height: 35vh;
}
.grey-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(231, 100%, 99%);
  border-radius: 0.5rem;
  margin-left: auto;
  width: 22vw;
  height: 4vh;
}
.grey-bar-month{
  color: hsl(213, 96%, 18%);
  margin: 1rem;
}
.grey-bar-year{
  margin: 1rem;
  color: hsl(231, 11%, 63%);
}
.switch{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider.round {
  border-radius: 34px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  transition: .4s;
}

.form-buttons{
    display: flex;
    justify-content: flex-end;
    width: 27.5vw;
    padding: 10px;
    margin-left: 3rem;
}
.checkbox-group{
  display: flex;
  flex-direction: column;
}
